# Dependency directories
node_modules/

# OS metadata
.DS_Store
Thumbs.db
*.swp

# Environment variables
.env
.env.local
.env.*.local

# IDE and Editor files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Build output
dist/
build/
out/

# Log files
logs/
*.log